PORT=3333
HOST=0.0.0.0
NODE_ENV=test
APP_KEY=EecQ4_IS9SdjdBwM30Nh08xZk8W8zJtQ
DRIVE_DISK=local
DB_CONNECTION=sqlite
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
CACHE_VIEWS=false
